/* header style */

header{
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid black;
  background-color: white;
  position: fixed;
  z-index: 1;
  margin: auto;
}

header.logo {
  color: mediumaquamarine;
}

.logo {
  display: flex;
  align-items: center;
}

.navi {
  align-items: center;
  margin-right: 40px;
}

.button{
  display: inline-block;
  align-items: center;
  padding: 20px 10px;
}
a {
  color: black;
}
.logo p {
  color: mediumaquamarine
}
/* Main content style */

.maincontent {
  display: flex;
  justify-content: space-around;
  padding-top: 116px;
  margin: 0px 15px 20px 15px;
}


/* colums */

.column.large {
  display: flex;
  width: 630px;
  flex-direction: column;
  margin: 10px;
}

.column.medium {
  display: flex;
  min-width: 300px;
  max-width: 300px;
  flex-direction: column;
  margin: 10px;
}

.column.small {
  display: flex;
  width: 240px;
  flex-direction: column;
  margin: 10px;
}

/* image divs */

.image {

}

.headerimage {
  display: flex;

  background-image: url(./images/main.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  height: 300px;

}

.image.one {
  display: flex;
  background-image: url(./images/fallstory.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;

}
 .image.two {
   display: flex;
   background-image: url(./images/hipster.png);
   font-family: Georgia;
   font-weight: bold;
   font-size: 30px;
   color: white;
   height: 300px;
   text-align: center;
 }
 .image.three {
   display: flex;
   background-image: url(./images/catlogo.png);
   font-family: Georgia;
   font-weight: bold;
   font-size: 30px;
   color: white;
   height: 300px;
   text-align: center;
 }

/* text divs  */

.newsbites {

}

.story {
  font-family: Georgia;
  font-size: 16px;
  color: black;
  height: 250px;
}
.storycolumn {
  display: flex;
  justify-content: space-between;
}
.column1 {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.story.four{
  height: auto;
}
.newsbites{
  display: flex;
  flex-direction: column;
}
.newsbites h2 {
  font-size: 16px;
  font-weight: bold;
}

.newsbites p{
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 11px 20px;
  margin: 0px;
  border-bottom: 1px solid black;
}

/* footer */
footer {
  display: flex;
  height: 300px;
  background-color: mediumaquamarine;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}
footer span {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  width: 150px;
  border-right: 2px solid white;
  text-align: center;
  padding-right: 20px;
}
footer a{
  padding: 20px;
  color: black;
}
.copyright{
  display: flex;
}
